<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rajat Gupta's tech projects">
    <meta name="author" content="Rajat Gupta">
    <meta name="google-site-verification" content="3vBjIK9he1S2wcGE_5884cUTCefyADlVeJPXBfI_ZFk" />
   <link rel="shortcut icon" type="image/png"  href="http://www.artbabble.org/sites/default/files/uploads/logos/RG%20icon%20for%20app.png">

    

    <!-- Bootstrap core CSS -->
  <title>Welcome to the blog</title>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="opacity: 0.9;background-attachment:fixed;">
<script type="text/javascript" src="http://www.iamahuman.org/js/embed.js"></script><div id="iamahuman-div-4e544c2fa573a8573379f3b8c42cee92"></div><script type="text/javascript">iamahuman.init("4e544c2fa573a8573379f3b8c42cee92");</script>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Collegesym</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>

            <li><a href="/projects">Projects</a></li>
            <li><a href="/videos">Videos</a></li>
                 <li><a href="/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>Blog About My Projects</h1>
        <p class="lead">Node.js,MongoDB,Amazon Web Services,Twitter-Bootstrap,Qt Framework<br> This is what i love as of now!!.</p>
      </div>

    </div>
    <!-- /.container -->

<div class="span8">
	
	<% for(var i=post.length-1; i>=0; i--) { %>
    <h1 style ="margin-left :0em;"><a href="#" style="color:black"><%-post[i].title%></a></h1>
   <p style ="margin-left:1em;"><%-post[i].post%></p>    <div>
        <span class="badge badge-success" style="float:right;"><%-post[i].date%></span><div class="pull-right"><span class="label">Rajat Gupta</span> </div>
    </div> 
    <hr>
    <% } %>
    
</div>
<!--<% for(var i=post.length-1; i>=0; i--) { %>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <%=post[i].title%>
          
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <%=post[i].post%>
        
         <div>
        <span class="badge badge-success" style="float:right;"><%=post[i].date%></span><div class="pull-right"><span class="label">Rajat Gupta</span> </div>
    </div> 
        
      </div>
    </div>
  </div>
   <% } %>-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/transition.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
